<!-- <%# _action = @cat.name == "" ? cats_url : cat_url(@cat.id) %>
<%# _verb = @cat.name == "" ? "POST" : "PATCH" %> -->

<form action="<%= cat_rental_requests_url%>" method="post">
  <!-- <input type="hidden" name="_method" value="<%#= _verb %>"> -->

  <label for = "rental_cat">Cat</label>
  <select id = "rental_cat" name = "rental[cat_id]" >
    <option selected = "selected" disabled>Select a Cat </option>
    <% Cat.all.each do |cat| %>
        <option value="<%=cat.id%>"><%= cat.name %> </option>
    <% end %>
  </select>
  <br>

  <label for ="rental_start_date">Start Date</label>
  <input type = "date" id = "rental_start_date" name = "rental[start_date]">
  <br>

  <label for ="rental_end_date">End Date</label>
  <input type = "date" id = "rental_end_date" name = "rental[end_date]">
  <br>

  <input type="submit" value="Submit">
</form>
