<h1> 99Cats </h1>

<ul>
  <% @cats.each do |cat| %>
    <li>
    <a href="<%= cat_url(cat.id) %>"><%="#{cat.name}"%></a>
    </li>
  <% end %>
</ul>

<%= button_to "Create Cat", new_cat_url, method: :get %>
<%= button_to "Rental Request", new_cat_rental_request_url, method: :get %>
